.card-matrches-next {
    width:100%;
    
}
.textting {
    margin:25px 0;
}
.textting p {
    font-family: Cairo;
font-size: 22px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: right;

}
